body {
  background-color: rgba(24, 24, 24, 0.925);
  background-image: url("https://www.sweetwater.com/insync/media/2017/11/DJSetups-1050x550.jpg");
  background-size: 100%;
  background-blend-mode:difference;
}

.drum-pad {
  border: 2px solid #333;
  border-radius: 30px;
  height: 100px;
  width: 100px;
  text-align: center;
  background-color: rgb(219, 24, 193);
  color: rgb(252, 253, 253);
}

.container {
  width: 200px;
  background-color: rgb(219, 24, 193);
  color:  white;
  border-radius: 30px;
  
}

.card-body {
  width: 150px;
  text-align: centered;

  
}

#drum-0 {
  position: fixed;
  top: 108px;
  left: 257px;
}

#drum-1 {
  position: fixed;
  top: 108px;
  left: 380px;
  
}

#drum-2 {
  position: fixed;
  top: 108px;
  left: 500px;
  
}

#drum-3 {
  position: fixed;
  top: 228px;
  left: 257px;
  
}

#drum-4 {
  position: fixed;
  top: 228px;
  left: 380px;
  
}

#drum-5 {
  position: fixed;
  top: 228px;
  left: 500px;
  
}

#drum-6 {
  position: fixed;
  top: 348px;
  left: 257px;
  
}

#drum-7 {
  position: fixed;
  top: 348px;
  left: 380px;
  
}

#drum-8 {
  position: fixed;
  top: 348px;
  left: 500px;
  
}

#drum-0, #drum-1, #drum-2, #drum-3, #drum-4, #drum-5, #drum-6, #drum-7, #drum-8 {
  transition: ease-in-out all 0.1s;
  transform: scale(1);
  cursor: pointer;
}

#drum-0:active, #drum-1:active, #drum-2:active, #drum-3:active, #drum-4:active, #drum-5:active, #drum-6:active, #drum-7:active, #drum-8:active {
  transform: scale(1.4);
  background-color: rgb(11, 219, 11);
  cursor: pointer;
}