body {
  background-color: rgba(24, 24, 24, 0.925);
  background-image: url("https://www.sweetwater.com/insync/media/2017/11/DJSetups-1050x550.jpg");
  background-size: 100%;
  background-blend-mode:difference;
}

.drum-pad0, .drum-pad1, .drum-pad2, .drum-pad3, .drum-pad4, .drum-pad5, .drum-pad6, .drum-pad7, .drum-pad8 {
  border: 2px solid #333;
  border-radius: 30px;
  height: 100px;
  width: 100px;
  text-align: center;
  background-color: rgb(219, 24, 193);
  color: rgb(252, 253, 253);
}

.container {
  width: 200px;
  background-color: rgb(219, 24, 193);
  color:  white;
  border-radius: 30px;
  
}

.card-body {
  width: 150px;
  text-align: centered;

  
}

#drum-0 {
  position: fixed;
  top: 108px;
  left: 257px;
}

#drum-1 {
  position: fixed;
  top: 108px;
  left: 380px;
  
}

#drum-2 {
  position: fixed;
  top: 108px;
  left: 500px;
  
}

#drum-3 {
  position: fixed;
  top: 228px;
  left: 257px;
  
}

#drum-4 {
  position: fixed;
  top: 228px;
  left: 380px;
  
}

#drum-5 {
  position: fixed;
  top: 228px;
  left: 500px;
  
}

#drum-6 {
  position: fixed;
  top: 348px;
  left: 257px;
  
}

#drum-7 {
  position: fixed;
  top: 348px;
  left: 380px;
  
}

#drum-8 {
  position: fixed;
  top: 348px;
  left: 500px;
  
}

button {
  transition: ease-in-out all 0.1s;
  transform: scale(1);
  cursor: pointer;
}

button:active, button.active {
  transition: ease-in-out all 0.05s;
  transform: scale(1.4);
  background-color: rgb(11, 219, 11);
  cursor: pointer;
}
