body {
  background-color: rgba(24, 24, 24, 0.925);
  background-image: url("https://www.sweetwater.com/insync/media/2017/11/DJSetups-1050x550.jpg");
  background-size: 100%;
  background-blend-mode:difference;
  position: fixed;
}

.drum-pad0, .drum-pad1, .drum-pad2, .drum-pad3, .drum-pad4, .drum-pad5, .drum-pad6, .drum-pad7, .drum-pad8 {
  border: 2px solid #333;
  border-radius: 30px;
  height: 10vh;
  width: 10vh;
  text-align: center;
  background-color: rgb(219, 24, 193);
  color: rgb(252, 253, 253);
  font-size: 2vh;
}

.container {
  width: 200px;
  background-color: rgb(219, 24, 193);
  color:  white;
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
  grid-gap: 10px; /* Adjust the gap between cells */
}

.card-body {
  width: 150px;
  text-align: centered;
}

#drum-0 {
  position: fixed;
  top: 11vh;
  left: 27vh;
}

#drum-1 {
  position: fixed;
  top: 11vh;
  left: 39.6vh;
}

#drum-2 {
  position: fixed;
  top: 11vh;
  left: 52.2vh;
}

#drum-3 {
  position: fixed;
  top: 24vh;
  left: 27vh;
}

#drum-4 {
  position: fixed;
  top: 24vh;
  left: 39.6vh;
}

#drum-5 {
  position: fixed;
  top: 24vh;
  left: 52.2vh;
}

#drum-6 {
  position: fixed;
  top: 37vh;
  left: 27vh;
}

#drum-7 {
  position: fixed;
  top: 37vh;
  left: 39.6vh;
}

#drum-8 {
  position: fixed;
  top: 37vh;
  left: 52.2vh;
}

button {
  transition: ease-in-out all 0.1s;
  transform: scale(1);
  cursor: pointer;
}

button:active, button.active {
  transition: ease-in-out all 0.05s;
  transform: scale(1.4);
  background-color: rgb(11, 219, 11);
  cursor: pointer;
}